
  .card {
    font-family: "Montserrat", sans-serif;
  }
  
  h1, h2, h3, p {
    margin: 0rem;
  }

  .main-container{
    width: 80%;
  }
  
  .card {
    height: 300px;
    width: 750px;
    position: relative;
    background-color: rgb(16 16 16);
    border: 1px solid rgb(255 255 255 / 5%);
    border-radius: 1.5rem;
    padding: 0px;
    display: flex;
    transition: 400ms;


  }

  
  .card:after {  
    content: "";
    height: 70px;
    width: 1px;  
    position: absolute;  
    left: -1px;
    top: 65%;
    transition: top, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;
    background: linear-gradient(
      transparent,
      $purp,
      transparent
    );
    opacity: 0;
  }
  
  .card:after {  
    top: 65%;
    opacity: 0;
  }
  
  .card:hover:after {
    top: 25%;
    opacity: 1;
  }
  
  .card-image{
    width: 40%;
    display: flex;
    height: 299px;
    border-radius: 1.25rem 0  0 1.25rem;
    z-index: 600;
    background-image: url("https://images.unsplash.com/photo-1481349518771-20055b2a7b24?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cmFuZG9tfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    //the hover event is located on the parent
  }
    // filter:blur(2px) brightness(80%) saturate(90%);
    // -webkit-filter: blur(2px) brightness(80%) saturate(90%);
    // transition: filter 800ms,;

  


  .card-content {  
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.1) 1px, 
      transparent 1px
    );
    background-position: 50% 50%;
    background-size: 1.1rem 1.1rem;
    padding: 4rem auto;
    border-radius: 1.25rem;
    overflow: hidden;
  }
  
  .card-content > :is(h1, h3, p) {
    text-align: center;
  }
  
  .card-content > h1 {
    color: rgb(250 249 246); 
    font-size: 2.6rem;
  }
  
  .card-content > h3 {
    color: $purp;
    text-transform: uppercase;
    font-size: 0.76rem;
  }
  
  .card-content > p {
    color: rgb(255 255 255 / 75%);
    line-height: 1.5rem;
  }
  
  @media(max-width: 700px) {
    .card {
      width: calc(100% - 2rem);
      margin: 0rem 1rem;
      padding: 0.75rem;
      border-radius: 1rem;
    }
  }
  
  @media(max-width: 600px) {
    .card-content {
      padding: 3rem;
    }
    
    .card-content > h1 {
      font-size: 2.2rem;
    }
  }
  
  