#mouse-trailer{
    height: 10px;
    width: 10px;
    border-radius: 50%;;

    position:fixed;
    left: 0px;
    top: 0px;
    z-index: 5000;
    pointer-events: none;
    opacity: 0;

    display: none;
    padding: 0px;
 


}

#mouse-color{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: white;
    z-index: 500;
    pointer-events: none;
    padding: 0px;


    img{
    margin: auto;
    width: 8px;
    height: 8px;
    position: relative;
    top: 1.5px;
    left: 0px; 
    }
}
body:hover > #mouse-trailer{
    opacity: 1;
}