.popup-container{
    width: 100vw;
    height:100vh;
    display:grid;
    place-items:center;
    position: absolute;
    display: none;
    top: 5%;
    left: 0;
    z-index: 6000;
}

.popup{
    background-color:white;
    width:90vw;
    height:90vh;
    margin: auto auto;
    z-index: 6001;
    display: flex;
    justify-content: center;
  
}

.open-popup{
animation-name: pop;
animation-duration: 1.8s;
animation-fill-mode: forwards;
}
.close-popup{
  
  animation: close-popup-a 400ms;
  animation-fill-mode: forwards;
}



.resume-popup{
    height: 90%;
    width: auto;
    align-self: center;
    z-index: 6002;
  }

.skill-popup{
  display: flex;
  justify-content: center;
  
}

.skills-card{
  width:350px;
  height: 40px;
  padding: 4px;
  margin: 8px;

  display: flex;
  flex-wrap: wrap;


}



.contact-popup{
  
}










@keyframes pop{
    0%{transform: scale(1.2);
    opacity:0;
    }
    50%{transform: scale(0.95);
      opacity:.8;
      border-radius:4px;
        background-color:rgb(28,28,28)}
    100%{
      transform: scale(1);
      opacity:1;
      border-radius:12px;
      background-color:rgb(30,30,30);
    }
  }


  @keyframes close-popup-a {
    0%{
      display: grid;
      place-items: center;
      
    }
    50% {
      background-color: white;
      border-radius: 25%;
    }

    100% {
      background-color: rgb(18,18,18);
      width: 0px;
      height: 0px;
      border-radius: 100%;

    }
  }

  
