.popup-container{
    width: 100vw;
    height:100vh;
    display:grid;
    place-items:center;
    position: absolute;
    display: none;
    top: 5%;
    left: 0;
    z-index: 6000;
}

.popup{
    background-color:white;
    width:90vw;
    height:90vh;
    margin: auto auto;
    z-index: 6001;
    display: flex;
    justify-content: center;

    overflow: scroll;
}

.open-popup{
animation-name: pop;
animation-duration: 1.8s;
animation-fill-mode: forwards;
}
.close-popup{
  
  animation: close-popup-a 400ms;
  animation-fill-mode: forwards;
}



.resume-popup{
    height: 90%;
    width: auto;
    align-self: center;
    z-index: 6002;
  }

.skill-popup{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.skills-card{
  width:350px;
  height: 40px;
  padding: 4px;
  margin: 8px;

  display: flex;
  flex-wrap: wrap;
}

.soft-skills-text{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 60px;
  color: whitesmoke;
  margin: 30px Auto;
  width: 100%;
  height: 120px;
}
.hard-skills-text{

}

//skills tab in the skills card popup

.skills-popup{
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; //for mobile version switch this to column
  justify-content: center;
}

.skills-tab{
  width: 250px;
  height: 55px;
  margin: 9px 10px;
  padding: 3px;
  display: flex;
  flex-wrap: wrap;
  border: solid 1px $purp;
  border-radius: 2px;
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.623);
}

.skills-tab-info{
  float: left;
  width: 194px;
  height: 100%;
}
.skills-tab-title{
  color: rgb(218, 218, 218);
  font-size: medium;
  transition: 400ms ;

  &:hover{
      color: white;
  }
}
.skills-tab-years{
  color: gray;
  font-size: small;
}
.skills-tab-type{
  color: $purp;
  font-size: x-small;
  position: relative;
  padding-top: 5px;
}
.skills-tab-icon-div{
  width: 50px;
  text-align: right;
  display: flex;
}
.skills-tab-icon{
  width: auto;
  height: 46px;
  padding: 2px;
  border-radius: 5px;
  float: right;
}

.hard-skills-card-container{
  display: flex;
  justify-content: space-between;
}

.hard-skills-card{
  width: 225px;
  height: 225px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  border: 3px solid $little-text-dark;
  color: white;
     
}

.contact-title{
  width: 100%;
  height: 40px;
  margin: 10px auto;
  display: grid;
  place-content: center;
  font-size: 35px;
}
.contact-middle-wrapper{
  position: absolute;
  height: 50%;
  width: 100%;
  top: 70px;
  display: flex;

}
.contact-side{
  width: 50%;
  padding: 20px 10px;
  height: 100%;
}
#contact-left-section{
  background-color: green;
  float: left;
}
#contact-right-section{
  background-color: greenyellow;
  float: right;
  display: grid;
  place-content: center;
}
















#contact-image{
  width: 250px;
  height: 250px;
}










@keyframes pop{
    0%{transform: scale(1.2);
    opacity:0;
    }
    50%{transform: scale(0.95);
      opacity:.8;
      border-radius:4px;
        background-color:rgb(28,28,28)}
    100%{
      transform: scale(1);
      opacity:1;
      border-radius:12px;
      background-color:rgb(30,30,30);
    }
  }


  @keyframes close-popup-a {
    0%{
      display: grid;
      place-items: center;
      
    }
    50% {
      background-color: white;
      border-radius: 25%;
    }

    100% {
      background-color: rgb(18,18,18);
      width: 0px;
      height: 0px;
      border-radius: 100%;

    }
  }

  
