.project-section{
    width: 100%;
    height: auto;
    justify-content: center;    
    
}
.projects{
    display: flex;
    width: auto;
    height: 37px;
    color: white;
    padding: 20px;
    margin: 12px;
    text-align: center;
    justify-content: center;
    border:1px solid rgb(21, 109, 121);
    border-radius: 2px;

    background-position: center;
    background-repeat: no-repeat;

    transition: all 600ms;
    filter: brightness(80%);
    &:hover{
        filter: brightness(100%);
        border-radius: 9px;
        // height: 500px;
    }
} 


.projects-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
#top-square{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: center
};

#left-square{
    flex-grow: .5;
    background-image: url("https://randomwordgenerator.com/img/picture-generator/57e8d64a4d56a514f1dc8460962e33791c3ad6e04e507440762e79d79649c7_640.jpg");
    &:hover{
        flex-grow: 15;
        
    }
}
#mid-square{
    flex-grow: .5;
    background-image: url("https://randomwordgenerator.com/img/picture-generator/57e8d64a4d56a514f1dc8460962e33791c3ad6e04e507440762e79d79649c7_640.jpg");
    &:hover{
        flex-grow: 15;
    }
}
#right-square{
    flex-grow: .5;
    background-image: url("https://randomwordgenerator.com/img/picture-generator/57e8d64a4d56a514f1dc8460962e33791c3ad6e04e507440762e79d79649c7_640.jpg");
    &:hover{
        flex-grow: 15;
    }
}








.project-content{
    opacity: 0;
    transition: all 200ms;
}

.projects:hover .project-content{
    opacity: 1;
}
//teck stack

    
// }
.stack-scroll{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    animation: stackScroll 11s linear 2s infinite;
    justify-content: space-around;
    
}
.teck-stack{
    display: flex;
    width: 100%;
    height: max;
    justify-content: center;
    background: linear-gradient(90deg, #0044b1, transparent 70%, #0062ff);
    // background: linear-gradient(90deg, #1e293b, transparent 30%, transparent 70%, #1e293b);
    inset: 0;
}
.Stack-Default {
  font-size: xx-large;
  color: grey;
  font-weight: 600;
  
}




// .stack-content{
//     font-family: 'Montserrat', sans-serif;    
//     font-weight: 500;
//     font-size: medium;
// }
.hashtag{
    color: rgb(173, 173, 173);
}






  .scroll-parent {
    top: 40px;
    position: relative;
    width: 90vw ;
    height: 45px;
    padding: 1rem 0;
    overflow-x: hidden;
  }
  
  .scroll-element {
    width: inherit;
    height: inherit;
    position: absolute;
    left: 0%;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  
  .primary {
    animation: primary 12s linear infinite;
  }
  
  .secondary {
    animation: secondary 12s linear infinite;
  }
  
  @keyframes primary {
    from {
      left: 0%;
    }
    to {
      left: -100%;
    }
  }
  
  @keyframes secondary {
    from {
      left: 100%;
    }
    to {
      left: 0%;
    }
  }
  
  
  .stack{
    width: 120px;
    height: 40px;
    display: flex;
    background-image: linear-gradient(to bottom right,  $darker-purp, $purp, $darker-purp);
    border: 1px solid black;
    justify-content: center;
    margin: 0 10px;
    font-size: xx-large; 
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 9px rgb(0, 0, 0);
    border-radius: 12px;
  }