.project-section{
    width: 100%;
    height: auto;
    justify-content: center;
}
.projects{
    display: flex;
    width: auto;
    height: auto;
    color: white;
    padding: 20px;
    margin: 12px;
    text-align: center;
    justify-content: center;
    border:1px solid rgb(21, 109, 121);

    background-position: center;
    background-repeat: no-repeat;

    transition: all 600ms;
    filter: brightness(80%);
    &:hover{
        filter: brightness(100%);
    }
} 
.projects-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
#top-square{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: center
};

#left-square{
    flex-grow: .5;
    background-image: url("https://randomwordgenerator.com/img/picture-generator/57e8d64a4d56a514f1dc8460962e33791c3ad6e04e507440762e79d79649c7_640.jpg");
    &:hover{
        flex-grow: 15;
    }
}
#mid-square{
    flex-grow: .5;
    background-image: url("https://randomwordgenerator.com/img/picture-generator/57e8d64a4d56a514f1dc8460962e33791c3ad6e04e507440762e79d79649c7_640.jpg");
    &:hover{
        flex-grow: 15;
    }
}
#right-square{
    flex-grow: .5;
    background-image: url("https://randomwordgenerator.com/img/picture-generator/57e8d64a4d56a514f1dc8460962e33791c3ad6e04e507440762e79d79649c7_640.jpg");
    &:hover{
        flex-grow: 15;
    }
}

.project-content{
    opacity: 0;
    transition: all 200ms;
}

.projects:hover .project-content{
    opacity: 1;
}
//teck stack
.stack{
    display: grid;
    place-items: center;
    color: rgb(0, 0, 0);
    padding: 0 5px;
    width: auto;
    margin: 0px 10px;
    height: 37.5px;
    background-image: linear-gradient(to bottom right,  $darker-purp, $purp, $darker-purp);
    box-shadow: 0px 0px 9px rgb(0, 0, 0);
    border-radius: 12px;
    
}
.stack-scroll{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    animation: stackScroll 11s linear 2s infinite;
    justify-content: space-around;
    
}
.teck-stack{
    display: flex;
    width: 100%;
    height: max;
    justify-content: center;
    background: linear-gradient(90deg, #0044b1, transparent 70%, #0062ff);
    // background: linear-gradient(90deg, #1e293b, transparent 30%, transparent 70%, #1e293b);
    inset: 0;
}
.stack-content{
    font-family: 'Montserrat', sans-serif;    
    font-weight: 500;
    font-size: medium;
}
.hashtag{
    color: rgb(173, 173, 173);
}



$scroll-start: 0;
$scroll-end: -80%;

@keyframes stackScroll {
    0%{
        transform: translateX($scroll-start);
    }
    100%{
        transform: translateX($scroll-end);
    }
}