* {
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(20, 20, 20);
  font-family: "Rubik", sans-serif;
  color: white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

main {
  display: none;
  opacity: 0;
  place-items: center;
  overflow: hidden;
}

.main-container {
  overflow: hidden;
}

.purp-color {
  color: mediumslateblue;
}

#intro-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#intro {
  margin: auto;
}

#intro-text {
  margin-top: 0px;
  font-size: 80px;
  animation-fill-mode: forwards;
}

#claim-reward {
  width: 75px;
  height: 75px;
  margin: 50px auto 0px auto;
  padding: 15px 15px;
  border-radius: 75px;
  background-color: #6b4487;
  border: black 1px solid;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.blur {
  width: auto;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

.blur .card:hover {
  transform: scale(1.1, 1.1);
}

nav {
  width: 100%;
  display: flex;
  transition: 400ms;
}

.nav-section {
  padding: 3rem 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.nav-title {
  width: auto;
  justify-content: left;
  float: left;
  flex-grow: 1;
}
.nav-title .logo-text {
  font-weight: 600;
  color: white;
  margin: 0px;
  font-size: 30px;
}

.nav {
  flex-grow: 3;
}
.nav a {
  font-size: 1.1rem;
  text-transform: uppercase;
  transition: 400ms;
}
.nav a:hover {
  transform: scale(0.9);
  color: mediumslateblue;
}

.nav-socials {
  flex-grow: 1;
}

.social {
  width: 20px;
  height: 20px;
  fill: white;
  transition: 400ms;
}
.social:hover {
  transform: scale(1.2);
  fill: mediumslateblue;
}

.btn-lock {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.btn-lock svg {
  fill: none;
  transform: translate3d(0, 0, 0);
}

.btn-lock svg .bling {
  stroke: #ffffff;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-dasharray: 3;
  stroke-dashoffset: 15;
  transition: all 0.3s ease;
}

.btn-lock svg .lock {
  stroke: black;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 36;
  transition: all 0.4s ease;
}

.btn-lock svg .lockb {
  fill: black;
  fill-rule: evenodd;
  clip-rule: evenodd;
  transform: rotate(8deg);
  transform-origin: 14px 20px;
  transition: all 0.2s ease;
}

#inpLock {
  display: none;
}

#inpLock:checked + label svg {
  opacity: 1;
}

#inpLock:not(:checked) + label svg .bling {
  animation: bling6132 0.3s linear forwards;
  animation-delay: 0.2s;
}

#inpLock:checked + label svg .lock {
  stroke-dasharray: 48;
  animation: locked 0.3s linear forwards;
}

#inpLock:checked + label svg .lockb {
  transform: rotate(0);
  transform-origin: 14px 22px;
}

@keyframes bling6132 {
  50% {
    stroke-dasharray: 3;
    stroke-dashoffset: 12;
  }
  100% {
    stroke-dasharray: 3;
    stroke-dashoffset: 9;
  }
}
@keyframes locked {
  50% {
    transform: translateY(1px);
  }
}
.locks {
  display: grid;
  place-items: center;
  position: relative;
  right: -6px;
  top: -4px;
  animation-fill-mode: forwards;
}

@keyframes open {
  100% {
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
    background-color: rgb(20, 20, 20);
  }
}
@keyframes fadeout {
  50% {
    opacity: 0;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
  }
}
.box {
  background-color: rgb(16, 1, 113);
  width: 80%;
  height: 450px;
  border-radius: 12px;
  border: 1px solid rgb(255, 255, 255);
}

.box-image-container {
  width: 40%;
  height: 100%;
  background-color: black;
  float: left;
}

.box-text {
  background-color: white;
  color: tan;
  display: block;
  float: right;
  width: 60%;
  height: 100%;
}

#mouse-trailer {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 5000;
  pointer-events: none;
  opacity: 0;
  display: none;
  padding: 0px;
}

#mouse-color {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: white;
  z-index: 500;
  pointer-events: none;
  padding: 0px;
  opacity: 0;
  transition: 600ms;
}

body:hover > #mouse-trailer {
  opacity: 1;
}

#mouse-icon {
  margin: auto;
  width: auto;
  height: auto;
  position: relative;
  fill: black;
  transform: scale(0.5);
  color: black;
}

.caret-up {
  top: 4.5px;
  left: 1px;
}

.full-screeno {
  top: 4.7px;
  left: 0px;
}

.card {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, p {
  margin: 0rem;
}

.main-container {
  width: 85%;
}

.card {
  height: 280px;
  width: 45%;
  position: relative;
  background-color: rgb(16, 16, 16);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 1.5rem;
  padding: 0px;
  display: flex;
  transition: 400ms;
  margin: 25px auto;
}

.card:after {
  content: "";
  height: 70px;
  width: 1px;
  position: absolute;
  left: -1px;
  top: 65%;
  transition: top, opacity;
  transition-duration: 600ms;
  transition-timing-function: ease;
  background: linear-gradient(transparent, mediumslateblue, transparent);
  opacity: 0;
}

.card:after {
  top: 65%;
  opacity: 0;
}

.card:hover:after {
  top: 25%;
  opacity: 1;
}

.card-image {
  width: 40%;
  display: flex;
  height: 99.9%;
  border-radius: 1.25rem 0 0 1.25rem;
  z-index: 600;
  background-image: url("https://media.istockphoto.com/id/517188688/photo/mountain-landscape.jpg?s=612x612&w=0&k=20&c=A63koPKaCyIwQWOTFBRWXj_PwCrR4cEoOw2S9Q7yVl8=");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(60%);
}

.card-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-position: 50% 50%;
  background-size: 1.1rem 1.1rem;
  padding: 4rem auto;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card-content > :is(h1, h3, p) {
  text-align: center;
}

.card-content > h1 {
  color: rgb(250, 249, 246);
  font-size: 2.6rem;
}

.card-content > h3 {
  color: mediumslateblue;
  text-transform: uppercase;
  font-size: 0.76rem;
}

.card-content > p {
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.5rem;
}

@media (max-width: 700px) {
  .card {
    width: calc(100% - 2rem);
    margin: 0rem 1rem;
    padding: 0.75rem;
    border-radius: 1rem;
  }
}
@media (max-width: 600px) {
  .card-content {
    padding: 3rem;
  }
  .card-content > h1 {
    font-size: 2.2rem;
  }
}
#personal-projects {
  float: left;
}

#freelance-projects {
  float: right;
}

.little-cards {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin: 100px 40px 60px 40px;
}

.little-card {
  background-color: #181818;
  width: 250px;
  height: 250px;
  border-radius: 15px;
  border: 1px solid rgb(43, 43, 43);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  box-shadow: 3px 3px 4px #1f1f1f;
  transition: 400ms;
}
.little-card:hover .skills-card-icon {
  fill: mediumslateblue;
}
.little-card:hover .little-card-bottom {
  color: white;
}
.little-card:hover .little-card-title {
  color: white;
  transform: scale(1.05);
}

#left-little-card:hover {
  box-shadow: -4px 4px 10px mediumslateblue;
}

#middle-little-card:hover {
  box-shadow: 0px 0px 12px mediumslateblue;
}

#right-little-card:hover {
  box-shadow: 4px 4px 10px mediumslateblue;
}

.little-card-icon {
  width: auto;
  height: 50%;
  display: grid;
  place-items: center;
}

.little-card-title {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: x-large;
  color: rgb(56, 56, 56);
  transition: 400ms;
}

.little-card-bottom {
  color: rgb(56, 56, 56);
  text-align: center;
  padding: 5px;
  transition: 400ms;
}

.skills-card-icon {
  width: 110px;
  height: 110px;
  fill: rgb(56, 56, 56);
  transition: 400ms;
}

#resume-icon {
  height: 90px;
}

#contact-icon {
  height: 90px;
}

.about-me {
  height: auto;
  width: 100%;
  margin: 70px 20px;
  padding: 15px;
  border-radius: 12px;
}

.name {
  font-size: 40px;
}

.popup-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  position: absolute;
  display: none;
  top: 5%;
  left: 0;
  z-index: 6000;
}

.popup {
  background-color: white;
  width: 90vw;
  height: 90vh;
  margin: auto auto;
  z-index: 6001;
  display: inherit;
}

.open-popup {
  animation-name: pop;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
}

.close-popup {
  animation: close-popup-a 400ms;
  animation-fill-mode: forwards;
}

@keyframes pop {
  0% {
    transform: scale(1.2);
    opacity: 0;
  }
  50% {
    transform: scale(0.95);
    opacity: 0.8;
    border-radius: 4px;
    background-color: rgb(28, 28, 28);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    border-radius: 12px;
    background-color: rgb(30, 30, 30);
  }
}
@keyframes close-popup-a {
  0% {
    display: grid;
    place-items: center;
  }
  50% {
    background-color: white;
    border-radius: 25%;
  }
  100% {
    background-color: rgb(18, 18, 18);
    width: 0px;
    height: 0px;
    border-radius: 100%;
  }
}
.slide-container {
  width: auto;
  height: auto;
  display: flex;
  padding: 0 15px;
  margin: 0px;
  justify-content: space-evenly;
}

.slide-section {
  width: 100%;
  height: auto;
}

.slide-left-container {
  width: 90px;
  height: 100%;
  float: left;
}

.slide-left-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 75px;
  filter: brightness(90%);
  border-right: 1px solid mediumslateblue;
  padding: 4px;
  text-transform: uppercase;
}

.D-TEXT {
  color: mediumslateblue;
  text-shadow: 1px 1px 1px #6b4487, 1px 2px 1px #6b4487, 1px 3px 1px #6b4487, 1px 4px 1px #6b4487, 1px 5px 1px #6b4487, 1px 6px 1px #6b4487, 1px 7px 1px #6b4487, 1px 8px 1px #6b4487, 1px 9px 1px #6b4487, 1px 10px 1px #6b4487, 1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
  transition: all 400ms;
}

.run {
  width: 50px;
  height: 50px;
}

.slide {
  display: flex;
  width: 100%;
  height: 410px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(50%);
  transition: all 400ms;
}
.slide:hover {
  filter: brightness(100%) blur(4px);
}

.slide-text {
  display: grid;
  place-items: center;
  width: 45%;
  height: 410px;
  padding: 0px;
  margin: 0;
  font-size: xx-large;
  font-weight: 700;
}

.project-box-lables {
  position: relative;
  top: 200px;
  right: 25%;
  z-index: 300;
  width: 0px;
  height: 0px;
}

#personal-project-image {
  background-image: url("https://singularityhub.com/wp-content/uploads/2022/12/deepmind-alphacode-lines-of-code-purple-blue-pink-1.jpeg");
}

#freelance-project-image {
  background-image: url("https://www.analyticsinsight.net/wp-content/uploads/2022/07/Top-10-Secret-Coding-Tips-to-Make-Your-Programming-Journey-Easier.jpg");
}

.project-section {
  width: 100%;
  height: auto;
  justify-content: center;
}

.projects {
  display: flex;
  width: auto;
  height: auto;
  color: white;
  padding: 20px;
  margin: 12px;
  text-align: center;
  justify-content: center;
  border: 1px solid rgb(21, 109, 121);
  background-position: center;
  background-repeat: no-repeat;
  transition: all 600ms;
  filter: brightness(80%);
}
.projects:hover {
  filter: brightness(100%);
}

.projects-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

#top-square {
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
}

#left-square {
  flex-grow: 0.5;
  background-image: url("https://randomwordgenerator.com/img/picture-generator/57e8d64a4d56a514f1dc8460962e33791c3ad6e04e507440762e79d79649c7_640.jpg");
}
#left-square:hover {
  flex-grow: 15;
}

#mid-square {
  flex-grow: 0.5;
  background-image: url("https://randomwordgenerator.com/img/picture-generator/57e8d64a4d56a514f1dc8460962e33791c3ad6e04e507440762e79d79649c7_640.jpg");
}
#mid-square:hover {
  flex-grow: 15;
}

#right-square {
  flex-grow: 0.5;
  background-image: url("https://randomwordgenerator.com/img/picture-generator/57e8d64a4d56a514f1dc8460962e33791c3ad6e04e507440762e79d79649c7_640.jpg");
}
#right-square:hover {
  flex-grow: 15;
}

.project-content {
  opacity: 0;
  transition: all 200ms;
}

.projects:hover .project-content {
  opacity: 1;
}

.stack {
  display: grid;
  place-items: center;
  color: rgb(0, 0, 0);
  padding: 0 5px;
  width: auto;
  margin: 0px 10px;
  height: 37.5px;
  background-image: linear-gradient(to bottom right, #6b4487, mediumslateblue, #6b4487);
  box-shadow: 0px 0px 9px rgb(0, 0, 0);
  border-radius: 12px;
}

.stack-scroll {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  animation: stackScroll 11s linear 2s infinite;
  justify-content: space-around;
}

.teck-stack {
  display: flex;
  width: 100%;
  height: max;
  justify-content: center;
  background: linear-gradient(90deg, #0044b1, transparent 70%, #0062ff);
  inset: 0;
}

.stack-content {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: medium;
}

.hashtag {
  color: rgb(173, 173, 173);
}

@keyframes stackScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-80%);
  }
}/*# sourceMappingURL=style.css.map */