body {
  margin: 0;
  background-color: rgb(20, 20, 20);
  font-family: "Rubik", sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  cursor: none;
}

main {
  display: none;
  cursor: none;
}

.purp-color {
  color: mediumslateblue;
}

#intro-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#intro {
  margin: auto;
}

#intro-text {
  margin-top: 0px;
  font-size: 80px;
}

#claim-reward {
  width: 75px;
  height: 75px;
  margin: 50px auto 0px auto;
  padding: 15px 15px;
  border-radius: 100%;
  background-color: #6b4487;
  border: black 1px solid;
  display: grid;
  place-items: center;
  transition: width 0.4s;
  -webkit-transition: width 0.4s;
  overflow: hidden;
  transition: 0.4s;
}
#claim-reward:hover {
  width: 450px;
  border-radius: 35px;
  background-color: mediumslateblue;
}

#hover-text {
  display: none;
  font-size: xx-large;
  font-weight: 700;
  color: #6b4487;
}
#hover-text:hover {
  color: black;
}

nav {
  width: 100%;
  display: flex;
}

.nav-section {
  padding: 3rem 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.nav-title {
  width: auto;
  justify-content: left;
  float: left;
  flex-grow: 1;
}
.nav-title .logo-text {
  font-weight: 600;
  color: white;
  margin: 0px;
  font-size: 30px;
}

.nav {
  flex-grow: 3;
}
.nav a {
  font-size: 1rem;
  text-transform: uppercase;
}
.nav a:hover {
  color: mediumslateblue;
}

.nav-socials {
  flex-grow: 1;
}

.btn-lock {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.btn-lock svg {
  fill: none;
  transform: translate3d(0, 0, 0);
}

.btn-lock svg .bling {
  stroke: #ffffff;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-dasharray: 3;
  stroke-dashoffset: 15;
  transition: all 0.3s ease;
}

.btn-lock svg .lock {
  stroke: black;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 36;
  transition: all 0.4s ease;
}

.btn-lock svg .lockb {
  fill: black;
  fill-rule: evenodd;
  clip-rule: evenodd;
  transform: rotate(8deg);
  transform-origin: 14px 20px;
  transition: all 0.2s ease;
}

#inpLock {
  display: none;
}

#inpLock:checked + label svg {
  opacity: 1;
}

#inpLock:not(:checked) + label svg .bling {
  animation: bling6132 0.3s linear forwards;
  animation-delay: 0.2s;
}

#inpLock:checked + label svg .lock {
  stroke-dasharray: 48;
  animation: locked 0.3s linear forwards;
}

#inpLock:checked + label svg .lockb {
  transform: rotate(0);
  transform-origin: 14px 22px;
}

@keyframes bling6132 {
  50% {
    stroke-dasharray: 3;
    stroke-dashoffset: 12;
  }
  100% {
    stroke-dasharray: 3;
    stroke-dashoffset: 9;
  }
}
@keyframes locked {
  50% {
    transform: translateY(1px);
  }
}
.locks {
  display: grid;
  place-items: center;
  position: relative;
  right: -6px;
  top: -4px;
}

.box {
  background-color: rgb(16, 1, 113);
  width: 80%;
  height: 450px;
  border-radius: 12px;
  border: 1px solid rgb(255, 255, 255);
}

.box-image-container {
  width: 40%;
  height: 100%;
  background-color: black;
  float: left;
}

.box-text {
  background-color: white;
  color: tan;
  display: block;
  float: right;
  width: 60%;
  height: 100%;
}

#mouse-trailer {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 5000;
  pointer-events: none;
  opacity: 0;
  display: none;
  padding: 0px;
}

#mouse-color {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: white;
  z-index: 500;
  pointer-events: none;
  padding: 0px;
}
#mouse-color img {
  margin: auto;
  width: 8px;
  height: 8px;
  position: relative;
  top: 1.5px;
  left: 0px;
}

body:hover > #mouse-trailer {
  opacity: 1;
}

.card {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, p {
  margin: 0rem;
}

.card {
  width: 640px;
  position: relative;
  background-color: rgb(16, 16, 16);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 1.5rem;
  padding: 1rem;
}

.card:after {
  content: "";
  height: 70px;
  width: 1px;
  position: absolute;
  left: -1px;
  top: 65%;
  transition: top, opacity;
  transition-duration: 600ms;
  transition-timing-function: ease;
  background: linear-gradient(transparent, mediumslateblue, transparent);
  opacity: 0;
}

.card:after {
  top: 65%;
  opacity: 0;
}

.card:hover:after {
  top: 25%;
  opacity: 1;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-position: 50% 50%;
  background-size: 1.1rem 1.1rem;
  padding: 4rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card-content > :is(h1, h3, p) {
  text-align: center;
}

.card-content > h1 {
  color: rgb(250, 249, 246);
  font-size: 2.6rem;
}

.card-content > h3 {
  color: mediumslateblue;
  text-transform: uppercase;
  font-size: 0.76rem;
}

.card-content > p {
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.5rem;
}

@media (max-width: 700px) {
  .card {
    width: calc(100% - 2rem);
    margin: 0rem 1rem;
    padding: 0.75rem;
    border-radius: 1rem;
  }
}
@media (max-width: 600px) {
  .card-content {
    padding: 3rem;
  }
  .card-content > h1 {
    font-size: 2.2rem;
  }
}/*# sourceMappingURL=style.css.map */