// variables
$purp: mediumslateblue;
$darker-purp: #6b4487;
$background: rgb(20, 20, 20);

body{
    margin: 0;
    background-color:$background;
    font-family: "Rubik", sans-serif;
    color: white;
    overflow: hidden;
}
a{
    text-decoration: none;
    color: white;
    cursor: none;
}
main{
    display: none;
    cursor: none;
    opacity: 0;
}

.purp-color{
    color: $purp;
}

#intro-container{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}
#intro{
    margin: auto;
  
}

#intro-text{
    margin-top: 0px;
    font-size: 80px;
    animation-fill-mode: forwards;
}

#claim-reward{
    width: 75px;
    height: 75px;
    margin: 50px auto 0px auto; 
    padding:15px 15px;
    border-radius: 75px;
    background-color: $darker-purp;
    
    
    border: black 1px solid;
    
    display: grid;
    place-items: center;
    overflow: hidden;

}
@import "./sass/_navbar";
@import "./sass/_unlock";
@import "./sass/_box";
@import "./sass/_mouse";
@import "./sass/cards";